@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background-color: #160B06;
  font-family: Arial, Helvetica, sans-serif;
  overflow-x: hidden;
}

.hero {
  height: 100vh;
  /* background-image: url(../public/images/bg-hero.svg); */
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  background-position: fixed;
}



@media (min-width: 768px) {
  .contenedor {
    max-width: 1200px;
    /* Ajusta según tu diseño */
    margin: 0 auto;
    /* Centra horizontalmente */
    width: 100%;
    /* Ocupa el 100% del ancho disponible */
    box-sizing: border-box;
  }
}

@keyframes slideIn {
  from {
    transform: translateX(-100%);
  }

  to {
    transform: translateX(0);
  }
}

@keyframes slideOut {
  from {
    transform: translateX(0);
  }

  to {
    transform: translateX(-100%);
  }
}

.menu-visible {
  animation: slideIn 0.3s ease-out forwards;
  overflow: hidden;
}

.menu-hidden {
  animation: slideOut 0.3s ease-in forwards;
}


.bg-o1 {
  background-image: url(/images/o1.jpg);
  background-position: center bottom;
  background-repeat: no-repeat;
  background-size: cover;
  height: 500px;
}


.bg-o2 {
  background-image: url(/images/o2.jpg);
  background-position: center bottom;
  background-repeat: no-repeat;
  background-size: cover;
  height: 500px;
}

.bg-o3 {
  background-image: url(/images/o3.jpg);
  background-position: center bottom;
  background-repeat: no-repeat;
  background-size: cover;
  height: 500px;
}

.bg-o4 {
  background-image: url(/images/o4.jpg);
  background-position: center bottom;
  background-repeat: no-repeat;
  background-size: cover;
  height: 500px;
}

.bg-o5 {
  background-image: url(/images/o5.jpg);
  background-position: center bottom;
  background-repeat: no-repeat;
  background-size: cover;
  height: 500px;
}

.bg-o6 {
  background-image: url(/images/o6.jpg);
  background-position: center bottom;
  background-repeat: no-repeat;
  background-size: cover;
  height: 500px;
}

@media (min-width: 768px) {
  .bg-o1, .bg-o2, .bg-o3, .bg-o4, .bg-o5, .bg-o6 {
    height: 500px;
  }
}

.bg-testimonials {
  background-image: url(/images/bg-testimonials.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  height: 570px;
  width: 100%;
}

.bg-footer {
  background-image: url(/images/bg-footer.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}